{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to Chocohut where you can buys different items....
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{category.name}} -  Choco Hut
    {% else %}
        See Our New Items - Choco Hut
    {% endif %}
{% endblock %}
{% block content %}
    {% if category %}
        <div class="row row_my_class">
            <div class="mx-auto">
                <p><a href="{% url 'shop:allProdCat' %}">Our Product Collections</a> </p>
            </div>
        </div>
    {% endif %}
    <div class="mx-auto">
        {% if category %}
        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" width="100%;" height="450px;">
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">{{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
    </div>
    {% else %}
    <div>
        <img src="{% static 'img/cbanner.png' %}" alt="our products" width="100%" height="400px">
    </div>
    <br>
    <div>
        <h1>See Our Products Collections</h1>
        <p>Chocolate is made from tropical Theobroma cacao tree seeds. Its earliest use dates back to the Olmec civilization in Mesoamerica.

After the European discovery of the Americas, chocolate became very popular in the wider world, and its demand exploded.

Chocolate has since become a popular food product that millions enjoy every day, thanks to its unique, rich, and sweet taste.</p>
    </div>
    {% endif %}
</br>
    <div class="container">
        <div class="row mx-auto">
            {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-4 col-md-4 col-lg-4">
                <div class="card text-center" style="min-width:15rem;">
                    <a href="{{product.get_url}}"><img class="card-image-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p>{{product.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% if products.paginator.num_pages > 1 %}
                <hr>
                <div class="text-center">
                    {% for pg in products.paginator.page_range %}
                        <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <br>
    </div>
{% endblock %}
